
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --board-lines-clr: black;
    --board-cells-clr: white;
    --gameboard-wd: 35vw;
    --board-size: 3;
    --cells-gap: 1.1%;
    --cells-width: calc((100% - (var(--cells-gap) * (var(--board-size) - 1))) / var(--board-size));
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#gameboard {
    width: var(--gameboard-wd);
    height: var(--gameboard-wd);
    margin-bottom: 5%;
    background-color: var(--board-lines-clr);
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(var(--board-size), minmax(0, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
    /* grid-auto-rows: 1fr; */
    gap: var(--cells-gap);
}

#gameboard > .cell {
    aspect-ratio: 1;
    background-color: var(--board-cells-clr);
    min-width: var(--cells-width);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cell > .symbol {
    width: 50%; 
    height: auto;
}